.main {
    height: 70vh;
    width: 40vw;
}

.main h3 {
    text-align: center;
}

.row {
    display: flex;
    width: 100%;
    justify-content: center;
}

.row:nth-child(3) {
    justify-content: space-between;
    align-items: center;
}

.row:nth-child(3) button {
    border: none;
    background: #FF1A1A;
    height: 5vh;
    width: 5vw;
    color: var(--white-color);
    font-size: larger;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.image {
    height: 150px;
    width: 100px;
    border: solid var(--white-color);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s ease-in-out;
    background: transparent;
}

.image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.highlight {
    background: #ddd;
    color: #ddd;
}

.correct {
    background: #57F287;
    color: #57F287;
}

.wrong {
    background: #FF1A1A;
    color: #FF1A1A;
}

.normal {
    color: #ddd;
}

.win {
    color: #57F287;
}

.lose {
    color: #FF1A1A;
}


@media only screen and (max-width: 600px) {
    .main {
        width: 90vw;
    }

    .image {
        height: 100px;
        width: 50px;
    }

    .row:nth-child(3) button {
        width: 100%;
    }
}