:root {
  --white-color: #ddd;
  --background-color: #121212;
  --hover-color: #C9D05D;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
  color: var(--white-color);
  overflow: hidden;
}